---
title: 关于我
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>我的个人信息</h2>
</div>

<main class="tags-content">

    <ul class="tags-list">
             <li>
         <H3>基本信息</H3>
        <p>昵称: Town or Townwang</p>
        <p>性别:男</p>
        <p>爱好:女</p>
        <p>年龄:年方三八</p>
        <p>职业:码农</p>
        <p>婚否:尚无婚配、如有良配、还望介绍！</p>
        </li>
        <li>
 <h3>兴趣爱好</h3>

        <p>吃饭、睡觉、看帖子</p>
        <p>躺着、坐着、学技术</p>
        <p>闲了、待着、敲代码</p>
        <p>忙了、工作、改BUG</p>
        <p>下班、晚上、录视频</p>
        <p>周末、宅着、写博客</p>
</li>
       
        <li>
        <h3>技术知识</h3>

        <p>[html]人人必备基础知识,就不说了!</p>
        <p>[css]又是必备有木有?</p>
        <p>[JavaScript]基础不全,没有学完</p>
        <p>[Java]一般一般,凑合能混</p>
        <p>[Android]靠这吃饭,得下功夫</p>
        <p>[Sql]了解一点基础,不提也罢</p>
        <p>[Git]凑合会用,命令不熟</p>
         <p>[PHP]基础忘光,没去复习</p>
        <p>[Kotlin]新语言,还没学</p>
        </li>

         <li>
            
     <h3>人生理想</h3>
  
        <p>迟早有一天,我要成为牛逼哄哄的大神!</p>
        <p>迟早有一天,我要找到个好对象!</p>
        <p>迟早有一天,我要翻身奔小康!</p>
        <p>迟早有一天.......</p>
        <p>算了ing...</p>
        <p>说多了都是泪!码农不容易啊!</p>
     
        </li>

         <li>

       <h3>联系方式</h3>
        <p>邮箱:<a href="#">android@townwang.com</a></p>
        <p>微博:<a href="#">文科中的技术宅</a></p>
        <p>Twitter:<a href="#">Townwang</a></p>
          <p>GitHub:<a href="#">Townwang</a></p>
            <p>Google:<a href="#">android@townwang.com</a></p>
        </li>

         <li>
            {% include gitment.html %}
        </li>
    </ul>
</main>
    
{% include footer.html %}