<header class="navbar">
	<a href="{{ "/" | relative_url }}" aria-current="page" class="home-link router-link-exact-active router-link-active">
		<img src="/assets/icons/s_logo.svg" alt="开源人" class="logo">
		<span class="site-name can-hide">开源人</span>
	</a>
	<div class="links">
		<!--<div class="search-box">
							<input aria-label="Search" autocomplete="off" spellcheck="false" value="">
						</div>-->
		<nav class="nav-links can-hide">
			{% for i in site.nav %}
			<div class="nav-item">
				<a href="{{ i[1] }}" class="nav-link">{{ i[0] }}</a>
			</div>
			{% endfor %}
		</nav>
	</div>
</header>