<header class="navbar">
					<a href="{{ "/" | relative_url }}" aria-current="page" class="home-link router-link-exact-active router-link-active">
						<img src="/assets/icons/s_logo.svg" alt="开源人" class="logo">
						<span class="site-name can-hide">开源人</span>
					</a>
					<div class="links">
						<!--<div class="search-box">
							<input aria-label="Search" autocomplete="off" spellcheck="false" value="">
						</div>-->
						<nav class="nav-links can-hide">
								   {% for i in site.nav %}
							<div class="nav-item">
								<a href="{{ i[1] }}" aria-current="page" class="nav-link router-link-exact-active router-link-active">
									{{ i[0] }}
								</a>
							</div>
							  {% endfor %}
						</nav>
					</div>
				</header>
				<!--
				<div class="sidebar-mask"></div>
				<aside class="sidebar">
				<nav class="nav-links">
				   {% for i in site.nav %}
							<div class="nav-item">
								<a href="{{ i[1] }}" aria-current="page" class="nav-link router-link-exact-active router-link-active">
									{{ i[0] }}
								</a>
							</div>
							  {% endfor %}
						</nav>
				</aside> -->
<!-- 百度熊猫 -->
<script src="//msite.baidu.com/sdk/c.js?appid=1590286112813721"></script>
<script  language="javascript">
var tabNum=[];
	while (tabNum.length<4){
			var numSlime = Math.floor((Math.random() * 10) + 1); 
				if (tabNum.indexOf(numSlime) == -1){ 
				tabNum.push(numSlime);
			}
		}

	for (var i = 0; i < 4; i++) {
    	var couleurSlime;
		var corpsSlime = document.getElementsByClassName("corps");
		
		switch (tabNum[i]) {
			case 1:
			    couleurSlime = "#3ae374";
			    break;
			case 2:
			    couleurSlime = "#67e6dc";
			    break;
			case 3:
			    couleurSlime = "#17c0eb";
			    break;
			case 4:
			    couleurSlime = "#7158e2";
			    break;
			case 5:
			    couleurSlime = "#3d3d3d";
			    break;
			case 6:
			    couleurSlime = "#fff200";
			    break;
			case 7:
			    couleurSlime = "#ff9f1a";
			    break;
			case 8:
			    couleurSlime = "#ff3838";
			    break;
			case 9:
			    couleurSlime = "#ffb8b8";
			    break;
			case 10:
			    couleurSlime = "#c56cf0";
			    break;           
			} 		
		corpsSlime[i].style.fill = couleurSlime;
		}
</script>