#slime_conteneur{
     display: inline-block;
     text-align: center;
     width: 100%;
     margin-top: 10%;
}
 .slime{
     display: inline-block;
     width:225px;
     height:200px;
     margin:auto;
     padding:5px 20px;
     -webkit-animation: respire 3s;
     animation: respire 3s;
     -webkit-animation-iteration-count: infinite;
     animation-iteration-count: infinite;
     -webkit-transition-timing-function: ease;
     transition-timing-function: ease;
}
 @-webkit-keyframes respire {
     0% {
        -webkit-transform-origin: 50% 100%;
        -webkit-transform : scaleX(1) scaleY(1);
    }
     50% {
        -webkit-transform-origin: 50% 100%;
        -webkit-transform : scaleX(1.05) scaleY(0.95);
    }
     100% {
        -webkit-transform-origin: 50% 100%;
        -webkit-transform : scaleX(1) scaleY(1);
    }
}
 @keyframes respire {
     0% {
        transform-origin: 50% 100%;
        transform : scaleX(1) scaleY(1);
    }
     50% {
        transform-origin: 50% 100%;
        transform : scaleX(1.05) scaleY(0.95);
    }
     100% {
        transform-origin: 50% 100%;
        transform : scaleX(1) scaleY(1);
    }
}
 .slime:hover{
     -webkit-animation: changeForme 1s;
     animation: changeForme 1s;
    /*animation-iteration-count: infinite;
    */
     -webkit-transition-timing-function: ease-in-out;
     transition-timing-function: ease-in-out;
}
 @-webkit-keyframes changeForme {
     0% {
        -webkit-transform-origin: 50% 100%;
        -webkit-transform : scaleX(1) scaleY(1);
    }
     40% {
        -webkit-transform-origin: 50% 100%;
        -webkit-transform : scaleX(0.8) scaleY(1.2);
    }
     50% {
        -webkit-transform-origin: 50% 100%;
        -webkit-transform : scaleX(1.2) scaleY(0.8);
    }
     60% {
        -webkit-transform-origin: 50% 100%;
        -webkit-transform : scaleX(0.9) scaleY(1.1);
    }
     70% {
        -webkit-transform-origin: 50% 100%;
        -webkit-transform : scaleX(1.2) scaleY(0.8);
    }
     80% {
        -webkit-transform-origin: 50% 100%;
        -webkit-transform : scaleX(0.9) scaleY(1.1);
    }
     90% {
        -webkit-transform-origin: 50% 100%;
        -webkit-transform : scaleX(1.2) scaleY(0.8);
    }
     100% {
        -webkit-transform-origin: 50% 100%;
        -webkit-transform : scaleX(1) scaleY(1);
    }
}
 @keyframes changeForme {
     0% {
        transform-origin: 50% 100%;
        transform : scaleX(1) scaleY(1);
    }
     40% {
        transform-origin: 50% 100%;
        transform : scaleX(0.8) scaleY(1.2);
    }
     50% {
        transform-origin: 50% 100%;
        transform : scaleX(1.2) scaleY(0.8);
    }
     60% {
        transform-origin: 50% 100%;
        transform : scaleX(0.9) scaleY(1.1);
    }
     70% {
        transform-origin: 50% 100%;
        transform : scaleX(1.2) scaleY(0.8);
    }
     80% {
        transform-origin: 50% 100%;
        transform : scaleX(0.9) scaleY(1.1);
    }
     90% {
        transform-origin: 50% 100%;
        transform : scaleX(1.2) scaleY(0.8);
    }
     100% {
        transform-origin: 50% 100%;
        transform : scaleX(1) scaleY(1);
    }
}
 .slime .yeux {
     -webkit-animation: cligneYeux 3s;
     animation: cligneYeux 3s;
     -webkit-animation-iteration-count: infinite;
     animation-iteration-count: infinite;
     -webkit-transition-timing-function: ease-in-out;
     transition-timing-function: ease-in-out;
}
 @-webkit-keyframes cligneYeux {
     0% {
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform : scaleY(1);
        transform : scaleY(1);
    }
     70% {
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform : scaleY(1);
        transform : scaleY(1);
    }
     80% {
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform : scaleY(0.2);
        transform : scaleY(0.2);
    }
     90% {
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform : scaleY(1);
        transform : scaleY(1);
    }
     100% {
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform : scaleY(1);
        transform : scaleY(1);
    }
}
 @keyframes cligneYeux {
     0% {
        transform-origin: 62.5px 80px;
        transform : scaleY(1);
    }
     70% {
        transform-origin: 62.5px 80px;
        transform : scaleY(1);
    }
     80% {
        transform-origin: 62.5px 80px;
        transform : scaleY(0.2);
    }
     90% {
        transform-origin: 62.5px 80px;
        transform : scaleY(1);
    }
     100% {
        transform-origin: 62.5px 80px;
        transform : scaleY(1);
    }
}

body,html{
    padding:0;
    margin:0;
    background-color:#fff
}
body{
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-size:16px;
    color:#2c3e50
}
.page{
    padding-left:20rem
}

.sidebar-mask{
    z-index:9;
    width:100vw;
    height:100vh;
    display:none
}
.sidebar{
    font-size:16px;
    background-color:#fff;
    width:20rem;
    position:fixed;
    z-index:10;
    margin:0;
    top:3.6rem;
    left:0;
    bottom:0;
    box-sizing:border-box;
    border-right:1px solid #eaecef;
    overflow-y:auto
}
.theme-default-content:not(.custom)>:first-child{
    margin-top:3.6rem
}
.theme-default-content:not(.custom) a:hover{
    text-decoration:underline
}
.theme-default-content:not(.custom) p.demo{
    padding:1rem 1.5rem;
    border:1px solid #ddd;
    border-radius:4px
}
.theme-default-content:not(.custom) img{
    max-width:100%
}
.theme-default-content.custom{
    padding:0;
    margin:0
}
.theme-default-content.custom img{
    max-width:100%
}
a{
    font-weight:500;
    text-decoration:none
}
a,p a code{
    color:#009fe8
}
p a code{
    font-weight:400
}

ol,ul{
    padding-left:1.2em
}

h1,h2,h3,h4,h5,h6{
    font-weight:600;
    line-height:1.25
}
.theme-default-content:not(.custom)>h1,.theme-default-content:not(.custom)>h2,.theme-default-content:not(.custom)>h3,.theme-default-content:not(.custom)>h4,.theme-default-content:not(.custom)>h5,.theme-default-content:not(.custom)>h6{
    margin-top:-3.1rem;
    padding-top:4.6rem;
    margin-bottom:0
}
.theme-default-content:not(.custom)>h1:first-child,.theme-default-content:not(.custom)>h2:first-child,.theme-default-content:not(.custom)>h3:first-child,.theme-default-content:not(.custom)>h4:first-child,.theme-default-content:not(.custom)>h5:first-child,.theme-default-content:not(.custom)>h6:first-child{
    margin-top:-1.5rem;
    margin-bottom:1rem
}
.theme-default-content:not(.custom)>h1:first-child+.custom-block,.theme-default-content:not(.custom)>h1:first-child+p,.theme-default-content:not(.custom)>h1:first-child+pre,.theme-default-content:not(.custom)>h2:first-child+.custom-block,.theme-default-content:not(.custom)>h2:first-child+p,.theme-default-content:not(.custom)>h2:first-child+pre,.theme-default-content:not(.custom)>h3:first-child+.custom-block,.theme-default-content:not(.custom)>h3:first-child+p,.theme-default-content:not(.custom)>h3:first-child+pre,.theme-default-content:not(.custom)>h4:first-child+.custom-block,.theme-default-content:not(.custom)>h4:first-child+p,.theme-default-content:not(.custom)>h4:first-child+pre,.theme-default-content:not(.custom)>h5:first-child+.custom-block,.theme-default-content:not(.custom)>h5:first-child+p,.theme-default-content:not(.custom)>h5:first-child+pre,.theme-default-content:not(.custom)>h6:first-child+.custom-block,.theme-default-content:not(.custom)>h6:first-child+p,.theme-default-content:not(.custom)>h6:first-child+pre{
    margin-top:2rem
}
h1:focus .header-anchor,h1:hover .header-anchor,h2:focus .header-anchor,h2:hover .header-anchor,h3:focus .header-anchor,h3:hover .header-anchor,h4:focus .header-anchor,h4:hover .header-anchor,h5:focus .header-anchor,h5:hover .header-anchor,h6:focus .header-anchor,h6:hover .header-anchor{
    opacity:1
}
h1{
    font-size:2.2rem
}
h2{
    font-size:1.65rem;
    padding-bottom:.3rem;
    border-bottom:1px solid #eaecef
}
h3{
    font-size:1.35rem
}
a.header-anchor{
    font-size:.85em;
    float:left;
    margin-left:-.87em;
    padding-right:.23em;
    margin-top:.125em;
    opacity:0
}
a.header-anchor:focus,a.header-anchor:hover{
    text-decoration:none
}

ol,p,ul{
    line-height:1.7
}

.theme-container.sidebar-open .sidebar-mask{
    display:block
}
.theme-container.no-navbar .theme-default-content:not(.custom)>h1,.theme-container.no-navbar h2,.theme-container.no-navbar h3,.theme-container.no-navbar h4,.theme-container.no-navbar h5,.theme-container.no-navbar h6{
    margin-top:1.5rem;
    padding-top:0
}
.theme-container.no-navbar .sidebar{
    top:0
}
@media (min-width:720px){
    .theme-container.no-sidebar .sidebar{
        display:none
    }
    .theme-container.no-sidebar .page{
        padding-left:0
    }
}
@media (max-width:959px){
    .sidebar{
        font-size:15px;
        width:16.4rem
    }
    .page{
        padding-left:16.4rem
    }
}
@media (max-width:719px){
    .sidebar{
        top:0;
        padding-top:3.6rem;
        transform:translateX(-100%);
        transition:transform .2s ease
    }
    .page{
        padding-left:0
    }
    .theme-container.sidebar-open .sidebar{
        transform:translateX(0)
    }
    .theme-container.no-navbar .sidebar{
        padding-top:0
    }
}
@media (max-width:419px){
    h1{
        font-size:1.9rem
    }
    .theme-default-content div[class*=language-]{
        margin:.85rem -1.5rem;
        border-radius:0
    }
}
::-webkit-scrollbar{
    width:6px;
    height:6px
}
::-webkit-scrollbar-track{
    border-radius:0;
    background:none
}
::-webkit-scrollbar-thumb{
    background-color:rgba(85,85,85,.4)
}
::-webkit-scrollbar-thumb,::-webkit-scrollbar-thumb:hover{
    border-radius:5px;
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.2)
}
::-webkit-scrollbar-thumb:hover{
    background-color:rgba(85,85,85,.3)
}


body,html{
    width:100%;
    overflow-y:auto;
    overflow-x:hidden;
    position:absolute;
    top:0;
    left:0
}

.img-border{
    border:1px solid #ddd
}
.theme-container.no-navbar h2:before,.theme-container.no-navbar h3:before,.theme-container.no-navbar h4:before,.theme-container.no-navbar h5:before,.theme-container.no-navbar h6:before{
    display:block;
    content:" ";
    margin-top:-15px;
    height:15px;
    visibility:hidden;
    pointer-events:none
}
html{
    scroll-behavior:smooth
}

.icon.outbound{
    color:#aaa;
    display:inline-block;
    vertical-align:middle;
    position:relative;
    top:-1px
}

.home{
    padding:3.6rem 2rem 0;
    max-width:960px;
    margin:0 auto;
    display:block
}
.home .hero{
    text-align:center
}
.home .hero img{
    max-width:100%;
    max-height:280px;
    display:block;
    margin:3rem auto 1.5rem
}
.home .hero h1{
    font-size:3rem
}
.home .hero .action,.home .hero .description,.home .hero h1{
    margin:1.8rem auto
}
.home .hero .description{
    max-width:35rem;
    font-size:1.6rem;
    line-height:1.3;
    color:#6a8bad
}
.home .hero .action-button{
    display:inline-block;
    font-size:1.2rem;
    color:#fff;
    background-color:#009fe8;
    padding:.8rem 1.6rem;
    border-radius:4px;
    transition:background-color .1s ease;
    box-sizing:border-box;
    border-bottom:1px solid #008fd1
}
.home .hero .action-button:hover{
    background-color:#05b0ff
}
.home .features{
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    align-content:stretch;
    justify-content:space-between;
}


.home .feature{
    flex-grow: 1;
    flex-basis: 30%;
    min-width: 30%;
    height: 10rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px #eee;
    transition: all 200ms ease-out;
}
.home .feature:hover {
    box-shadow: 0 0 2px 1px #00a2e8cf;
}
.home .feature h2{
    font-size:1.4rem;
    font-weight:500;
    border-bottom:none;
    padding-bottom:0;
    color:#3a5169;
	margin:0.5rem;
}
.home .feature p{
    color:#999
}
.home .footer{
    padding:1.5rem;
    text-align:center;
	color: #959da5;
}
@media (max-width:719px){
    .home .features{
        flex-direction:column
    }
    .home .feature{
		min-width: 90%;
		height: 10rem;
		margin: 0.5rem;
		padding: 0.5rem;
		border-radius: 5px;
		box-shadow: 0 0 2px 1px #eee;
		transition: all 200ms ease-out;
    }
	.home .feature:hover {
		box-shadow: 0 0 2px 1px #00a2e8cf;
	}
}
@media (max-width:419px){
    .home{
        padding-left:1.5rem;
        padding-right:1.5rem
    }
    .home .hero img{
        max-height:210px;
        margin:2rem auto 1.2rem;
    }
    .home .hero h1{
        font-size:2rem;
    }
    .home .hero .action,.home .hero .description,.home .hero h1{
        margin:1.2rem auto;
    }
    .home .hero .description{
        font-size:1.2rem;
    }
    .home .hero .action-button{
        font-size:1rem;
        padding:.6rem 1.2rem;
    }
    .home .feature h2{
        font-size:1.25rem;
		margin:1rem;
    }
}
.search-box{
    display:inline-block;
    position:relative;
    margin-right:1rem
}
.search-box input{
    cursor:text;
    width:10rem;
    height:2rem;
    color:#4e6e8e;
    display:inline-block;
    border:1px solid #cfd4db;
    border-radius:2rem;
    font-size:.9rem;
    line-height:2rem;
    padding:0 .5rem 0 2rem;
    outline:none;
    transition:all .2s ease;
    background:#fff url(/assets/img/search.83621669.svg) .6rem .5rem no-repeat;
    background-size:1rem
}
.search-box input:focus{
    cursor:auto;
    border-color:#009fe8
}
.search-box .suggestions{
    background:#fff;
    width:20rem;
    position:absolute;
    top:2rem;
    border:1px solid #cfd4db;
    border-radius:6px;
    padding:.4rem;
    list-style-type:none
}
.search-box .suggestions.align-right{
    right:0
}
.search-box .suggestion{
    line-height:1.4;
    padding:.4rem .6rem;
    border-radius:4px;
    cursor:pointer
}
.search-box .suggestion a{
    white-space:normal;
    color:#5d82a6
}
.search-box .suggestion a .page-title{
    font-weight:600
}
.search-box .suggestion a .header{
    font-size:.9em;
    margin-left:.25em
}
.search-box .suggestion.focused{
    background-color:#f3f4f5
}
.search-box .suggestion.focused a{
    color:#009fe8
}
@media (max-width:959px){
    .search-box input{
        cursor:pointer;
        width:0;
        border-color:transparent;
        position:relative
    }
    .search-box input:focus{
        cursor:text;
        left:0;
        width:10rem
    }
}
@media (-ms-high-contrast:none){
    .search-box input{
        height:2rem
    }
}
@media (max-width:959px) and (min-width:719px){
    .search-box .suggestions{
        left:0
    }
}
@media (max-width:719px){
    .search-box{
        margin-right:0
    }
    .search-box input{
        left:1rem
    }
    .search-box .suggestions{
        right:0
    }
}
@media (max-width:419px){
    .search-box .suggestions{
        width:calc(100vw - 4rem)
    }
    .search-box input:focus{
        width:8rem
    }
}


.nav-links{
    display:inline-block
}
.nav-links a{
    line-height:1.4rem;
    color:inherit
}
.nav-links a.router-link-active,.nav-links a:hover{
    color:#009fe8
}
.nav-links .nav-item{
    position:relative;
    display:inline-block;
    margin-left:1.5rem;
    line-height:2rem
}
.nav-links .nav-item:first-child{
    margin-left:0
}
.nav-links .repo-link{
    margin-left:1.5rem
}
@media (max-width:719px){
    .nav-links .nav-item,.nav-links .repo-link{
        margin-left:0
    }
}
@media (min-width:719px){
    .nav-links a.router-link-active,.nav-links a:hover{
        color:#2c3e50
    }
    .nav-item>a:not(.external).router-link-active,.nav-item>a:not(.external):hover{
        margin-bottom:-2px;
        border-bottom:2px solid #00aefe
    }
}
.navbar{
    z-index:20;
    right:0;
    height:3.6rem;
    background-color:#fff;
    box-sizing:border-box;
	padding:.7rem 1.5rem;
    line-height:2.2rem;
    box-shadow: 0 0 2px 0px rgb(0 0 0 / 10%);
}
.navbar,.sidebar-mask{
    position:fixed;
    top:0;
    left:0
}

.navbar a,.navbar img,.navbar span{
    display:inline-block
}
.navbar .logo{
    height:2.2rem;
    min-width:2.2rem;
    margin-right:.8rem;
    vertical-align:top
}
.navbar .site-name{
    font-size:1.3rem;
    font-weight:600;
    color:#2c3e50;
    position:relative
}
.navbar .links{
    padding-left:1.5rem;
    box-sizing:border-box;
    background-color:#fff;
    white-space:nowrap;
    font-size:.9rem;
    position:absolute;
    right:1.5rem;
    top:.7rem;
    display:flex
}
.navbar .links .search-box{
    flex:0 0 auto;
    vertical-align:top
}
@media (max-width:719px){
    .navbar{
     text-align-last: center;
    }
    .navbar .can-hide{
        display:none
    }
    .navbar .links{
        padding-left:1.5rem
    }
    .navbar .site-name{
        width:calc(100vw - 9.4rem);
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis
    }
}

.tag{
    background:#d4d4d4;
    color:#282c34;
    display:inline-block;
    padding:5px 10px;
    border-radius:4px;
    font-size:14px
}

.svg{
    opacity:.6;
    transition:opacity .3s
}
.svg:hover{
    opacity:1;
    transition:opacity .3s
}
.google-adsense{
    max-width:100%;
    overflow:hidden
}
.number,.price{
    font-weight:700;
    font-size:24px;
    color:#cd229f
}
.icon-svg{
    display:inline-block;
    position:relative;
    font-size:0;
    background-image:none;
    background-position:0 0;
    background-repeat:no-repeat;
    background-size:auto
}
.icon-grayscale{
    -moz-filter:grayscale(100%);
    -ms-filter:grayscale(100%);
    -o-filter:grayscale(100%);
    filter:grayscale(100%);
    filter:gray
}
.icon-svg-qr{
    background-image:url(../icons/qr.svg)
}
.icon-svg-wechat{
    background-image:url(../icons/wechat.svg)
}
.icon-svg-search{
	background-image:url(../icons/search.svg);
}

.badge{
    display: inline-block;
    font-size: 9px;
    height: 18px;
    line-height: 17px;
    border-radius: 3px;
    padding: 0 3px;
    color:#fff;
    background-color:#42b983;
    margin:-0.5rem 0 0 .5rem
}
.badge.green,.badge.tip,.badge{
    background-color:#42b983
}
.badge.error{
    background-color:#da5961
}
.badge.warn,.badge.warning,.badge.yellow{
    background-color:#e7c000
}
.badge+.badge{
    margin-left:5px
}

.tip{
    color:#999;
    font-size:12px;
    text-align:center;
    padding-bottom:10px
}

.mr10{
    margin-right:10px
}

.github-corner:hover .octo-arm{
    -webkit-animation:octocat-wave-data-v-3a1264aa .56s ease-in-out;
    animation:octocat-wave-data-v-3a1264aa .56s ease-in-out
}
@-webkit-keyframes octocat-wave-data-v-3a1264aa{
    0%,to{
        transform:rotate(0)
    }
    20%,60%{
        transform:rotate(-25deg)
    }
    40%,80%{
        transform:rotate(10deg)
    }
}
@keyframes octocat-wave-data-v-3a1264aa{
    0%,to{
        transform:rotate(0)
    }
    20%,60%{
        transform:rotate(-25deg)
    }
    40%,80%{
        transform:rotate(10deg)
    }
}
@media (max-width:500px){
    .github-corner:hover .octo-arm{
        -webkit-animation:none;
        animation:none
    }
    .github-corner .octo-arm{
        -webkit-animation:octocat-wave-data-v-3a1264aa .56s ease-in-out;
        animation:octocat-wave-data-v-3a1264aa .56s ease-in-out
    }
}

@-webkit-keyframes easeOpacity-data-v-1b014d15{
    0%{
        opacity:1
    }
    50%{
        opacity:.35
    }
    to{
        opacity:1
    }
}
@keyframes easeOpacity-data-v-1b014d15{
    0%{
        opacity:1
    }
    50%{
        opacity:.35
    }
    to{
        opacity:1
    }
}

.flex{
    display:inline-flex;
    align-items:center;
	
}


.b{
    font-weight:700
}





.wechat-box{
    display:flex;
    align-items:center;
    justify-content:center;
    background:#07c160;
    color:#fff;
    padding:1rem;
    line-height:1;
    border-radius:.625rem;
    cursor:pointer;
    position:relative;
    z-index:1
}
.wechat-box .title{
    display:flex;
    flex-direction:column;
    margin-left:.625rem;
    flex:0 0 6.4rem;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.wechat-box .title .big{
    font-size:1.25rem;
    margin-bottom:5px
}
.wechat-box .title .small{
    font-size:.7rem;
    color:#e7e7e7
}
.wechat-box .input-box{
    display:flex;
    align-items:center;
    background:#fff;
    color:#8e8e93;
    flex:0 0 12.5rem;
    border-radius:.3125rem;
    padding:.75rem .625rem;
    line-height:1;
    margin:0 .625rem
}
.wechat-box .input-box .name{
    margin-left:8px
}
@media (max-width:529px){
    .wechat-box .input-box{
        flex:1
    }
}
@media (max-width:369px){
    .wechat-box .input-box{
        display:none
    }
    .wechat-box .title{
        margin-right:15px
    }
}

.post-date {
    float: right;
    display: flow-root;
    color: #a9b0bc;
    font-size: 10px;
    letter-spacing: .6px;
    margin-top: inherit;
}
.post-excerpt {
    margin-top: 8px;
    font-size: 14px;
    font-family: Merriweather-Light,-apple-system,Verdana,"PingFang SC","Helvetica Neue",Arial,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    line-height: 26px
}
.post-content{
    max-width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 2rem 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.2rem;
    box-shadow: 0 0 2px 0px rgb(0 0 0 / 10%);
	font-size: 16px;
	background: #fdfffd;
}
.post-title{
	font-size: 20px;
    margin-bottom: 3rem;
}
@media (max-width:500px){
	.post-content{
        font-size: 10px;
    }
}
.post-wrapper{
	max-width: 80%;
	padding-top: 5rem;
    margin: auto;
}

.page-links{
	margin:0 auto;
	width:80%;
}
.page-left{
	width:100px;
	height:20px;
	float:left;
}
.page-right{
	width:100px;
	height:20px;
	margin-left:100px;
}

