---
title: Links
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>友情链接</h2>
</div>

<main class="tags-content">

    <ul class="tags-list">
        <li>
            <a href="http://hubojing.me">胡博静</a>
            <b>计算机爱好者</b>
        </li>
         <li>
             <a href="https://itruke.com">Ruke</a>
            <b>技术宅男子</b>
        </li> 
         <li>
            <a href="https://blog.waydrow.com">Waydrow</a>
            <b>为着美好生活而努力奋斗的程序猿</b>
        </li>
         <li>
            <a href="http://txiner.top">Hundred Blog</a>
            <b>一个不务正业的通信狗</b>
        </li>
        <li>
         {% include gitment.html %}
        </li>
    </ul>
</main>
{% include footer.html %}