<style>
.k-friend {
    text-decoration: none;
}
.about-header{
    width: 100%;
     margin:0 auto;
    height:auto;
}
.about-header img{
width: 100%;
height: 200px;
}
.about-top{
text-align:center;
/*    -webkit-box-shadow:0 0 10px #999;  
  -moz-box-shadow:0 0 10px #999;  
  box-shadow:0 0 10px #999;  */
  padding: 2px
}
.my-card{
    position: relative;
    overflow: hidden;
    margin-top: 16px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2);
}
</style>
<div class="k-posts-list"></div>
<div class="mdui-container">
    <div class="mdui-row-sm-2 mdui-row-md-4">
    <!-- 个人头像 -->
        <div class="my-card">
        
            <div class="about-header">
              <img class="mdui-img-fluid" src="/town.jpg"/>
            </div>
      </div>
<div class="mdui-container mdui-typo a">
  <div class="mdui-panel" mdui-panel="{accordion: true}">
<!-- 基本信息 -->
    <div class="mdui-panel-item">
      <div class="mdui-panel-item-header"><H3>基本信息</H3></div>
      <div class="mdui-panel-item-body">
        <p>昵称: Town or Townwang</p>
        <p>性别:男</p>
        <p>爱好:女</p>
        <p>年龄:年方三八</p>
        <p>职业:码农</p>
        <p>婚否:尚无婚配、如有良配、还望介绍！</p>
      </div>
    </div>
    <div class="mdui-panel-item">
      <div class="mdui-panel-item-header"><h3>兴趣爱好</h3></div>
      <div class="mdui-panel-item-body">
        <p>吃饭、睡觉、看帖子</p>
        <p>躺着、坐着、学技术</p>
        <p>闲了、待着、敲代码</p>
        <p>忙了、工作、改BUG</p>
        <p>下班、晚上、录视频</p>
        <p>周末、宅着、写博客</p>
      </div>
    </div>
    <div class="mdui-panel-item">
      <div class="mdui-panel-item-header"><h3>技术知识</h3></div>
      <div class="mdui-panel-item-body">
        <p>[html]人人必备基础知识,就不说了!</p>
        <p>[css]又是必备有木有?</p>
        <p>[JavaScript]基础不全,没有学完</p>
        <p>[Java]一般一般,凑合能混</p>
        <p>[Android]靠这吃饭,得下功夫</p>
        <p>[Sql]了解一点基础,不提也罢</p>
        <p>[Git]凑合会用,命令不熟</p>
         <p>[PHP]基础忘光,没去复习</p>
        <p>[Kotlin]新语言,还没学</p>
      </div>
    </div>

      <div class="mdui-panel-item">
      <div class="mdui-panel-item-header"><h3>人生理想</h3></div>
      <div class="mdui-panel-item-body">
        <p>迟早有一天,我要成为牛逼哄哄的大神!</p>
        <p>迟早有一天,我要找到个好对象!</p>
        <p>迟早有一天,我要翻身奔小康!</p>
        <p>迟早有一天.......</p>
        <p>算了ing...</p>
        <p>说多了都是泪!码农不容易啊!</p>
      </div>
    </div>
<div class="mdui-panel-item">
      <div class="mdui-panel-item-header"><h3>联系方式</h3></div>
      <div class="mdui-panel-item-body">
        <p>邮箱:<a href="#">android@townwang.com</a></p>
        <p>微博:<a href="#">王振镇</a></p>
        <p>facebook:<a href="#">王振镇</a></p>
        <p>Twitter:<a href="#">Townwang</a></p>
          <p>GitHub:<a href="#">Townwang</a></p>
            <p>Google:<a href="#">android@townwang.com</a></p>
      </div>
    </div>
      <div class="mdui-panel-item">
      <div class="mdui-panel-item-header"><h3>友链申请</h3>   ps:统一格式点击查看</div>
      <div class="mdui-panel-item-body">
        <p>名称：文科中的技术宅</p>
        <p>链接：<a href="http://townwang.com">http://townwang.com</a></p>
        <p>头像链接:http://townwang.com/assets/images/favicon.png</p>
        <p>描述:出身文科,从事技术!</p>
      </div>
    </div>
  </div>
</div>

<script src="/assets/js/mdui.js"></script>
<!-- 评论 -->
<div class="my-card">
       {% include comment/comment.html %}    
</div>
</div>


</div>